body {
    background-color: #262626;
    color: #8c8c8c;
    background-image: url(https://4.bp.blogspot.com/-k8IX2Mkf0Jo/U4ze2gNn7CI/AAAAAAAA7xg/iKxa6bYITDs/s0/HOT+Balloon+Trip_Ultra+HD.jpg) !important;
    background-size: cover !important;
    font-family: Arial, Helvetica, sans-serif
}